<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.1.1" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="net461" />
  <package id="Lucene.Net" version="3.0.3" targetFramework="net461" />
  <package id="Moq" version="4.7.99" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="1.1.18" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="1.1.18" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="4.5.9" targetFramework="net461" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net461" />
  <package id="Sitecore.FakeDb" version="1.7.0" targetFramework="net461" />
  <package id="Sitecore.Kernel" version="7.2.140228" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Logging" version="7.2.140228" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Mvc.NoReferences" version="7.2.140228" targetFramework="net461" developmentDependency="true" />
  <package id="sitecore.nexus" version="7.2.140228" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.NVelocity" version="7.2.140228" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Zip" version="7.2.140228" targetFramework="net461" developmentDependency="true" />
</packages>